* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*FORSIDE*/
/*background*/
.top {
  background-image: url(/assets/img/background.png);
  background-size: cover;
  background-position: bottom;
  height: 768px;
  background-repeat: no-repeat;
  padding-top: 15px;
}
/*logo*/
.menu ul li:first-child {
  margin-right: auto;
}
.logo {
  width: 99px;
  height: 99px;
}
/*top menu*/
.menu ul { /*kunne ikke regne ud hvordan jeg rykker knapperne til højre*/
  max-width: 1080px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 24px;
  margin: 0 auto;
}
.menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  font-weight: 600;
  color: white;
}
/*top button*/
.button {
  background-color: #CDB888;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  font-weight: 600;
  padding: 13px 30px;
  border-radius: 50px;
}
.button:hover {
  background-color: black;
}
/*front-menu*/ 
.front h1 {
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.front p {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.front li a {/*jeg kunne ikke regne ud hvordan jeg rykker denne knap på plads */
  margin: 0 auto;
  text-decoration: none;
  list-style-type: none;
  padding: 13px 72px;
}

/* FREFLIGET FIBULA*/ 
/*title*/
h2 {
  font-size: 52px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 67px;
  padding: 66px;
}
/*columns*/ 
.fibula article {
  column-count: 2;
  padding: 0 143px;
  gap: 24px;
  height: 412px;
}
.fibula h3 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
} 

/*MØNT & KNAP*/ 
/*background*/ 
.mønt-info {
  background-color: #CDB888;
  height: 772px;
}
.mønt-info h2 {
  color: white;
  padding-bottom: 23px;
}
/*text*/ 
.mønt-info p {
  color: white;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 45px;
  text-align: center;
  width: 804px;
  height: 48px;
}
/*img + text*/ 
.mønt-image-line1 {
  display: flex;
  gap: 116px;
  justify-content: center;
  margin-bottom: 49px;
}
.mønt-image-line2 {
  display: flex;
  gap: 116px;
  justify-content: center;
}
.mønt-info article {
  text-align: center;
  max-width: 344px;
}
/*img*/
.mønt-info article img {
  width: 160px;
  height: 160px;
}
/*text*/ 
.mønt-info article h4 {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

/*FUNDSTATESTIK*/
/*table main funktion*/
.funds table {
  width: 1088px;
  height: 320px;
  margin: 0 auto;
}
/*table (top)*/ 
.funds thead {
  background-color: #706F6F;
  color: white;
  font-size: 18px;
  height: 40px;
  text-align: left;
}
/*table info (jeg kunne ikke få texten til at rykke sig lidt til højre, så jeg gave op*/
.funds tbody {
  background-color: #CDB888;
  height: 40px;
}
.funds tbody .light {
  background-color: #ECE1CF;
}
.funds .fa-check {
  color: #706F6F;
  display: flex;
  justify-content: center;
}

/*BOGEN*/ /*jeg gjorde det jeg kunne, men jeg gav op på resten af denne side...*/
/*main funktion*/
.bogen {
  background-color: #706F6F;
  width: 1366px;
  height: 550px;
  margin-top: 75px;
}
.bog {
  color: white;
  max-width: 1080px;
  padding-top: 75px; 
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 400px;
}
/*left side*/
.bog article {
  grid-column: 1/2;
  grid-row: 1/2;
}
.bog h2 {
  margin-bottom: 10px;
}
.bog p {
  margin-bottom: 61px;
}
/*right side*/ 
.bog img {
  grid-column: 2/3;
  grid-row: 1/2;
}

/*NYHEDSBREV*/ 
/*main funktion*/
.nyhed {
  height: 360px;
}
/*text*/
.nyhed h2 {
  padding-bottom: 33px;
}
.nyhed p {
  display: flex;
  justify-content: center;
}
/*formular*//*jeg kunne ikke regne ud, hvordan man rediger en forms udesedne, så jeg gav op*/
.form {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

/*FOOTER*/
/*..*/
footer {
  background-color: #CDB888;
  padding: 32px 0;
}
footer ul li {
  max-width: 1080px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  font-family: raleway; 
  gap: 72px;
  margin: 0 auto;
}
footer li {
  color: white;
  margin-right: auto;
}
/*icons*/ /*jeg kan ikke finde ud af at rykke dem til højre, så jeg giver op! hyg dig med at se alle mine fejl igennem*/
footer img {
  background-color: white;
  padding: 14px 14px;
  border-radius: 50%;
}
